@page
@model LoginModel

@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Giriş Yap";
}


<input type="checkbox" id="chk" aria-hidden="true" />

<div class="signup">
    <img src="~/img/logo.png" alt="PeopleLink" width="200" />
    <div class="mouse">
        <span></span>
    </div>
</div>


<div class="login">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <label class="baslik" for="chk" aria-hidden="true">Giriş Yap</label>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="warning-input" autocomplete="username" aria-required="true" placeholder="ad.soyad@bilgeadamboost.com" type="email" required>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" type="password" class="warning-input" autocomplete="current-password" aria-required="true" placeholder="Şifre" required>
            <span style="position: absolute; top: 178px; transform: translate(-50%); right: 16%; font-size: larger; cursor:pointer;" id="showPassword">👁️</span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button id="login-submit" type="submit">Giriş Yap</button>
        <div class="alt-footer">
            <p class="alt">
                <a id="forgot-password" asp-page="./ForgotPassword">Şifremi Unuttum</a>
            </p>
            @*<p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Kayıt Ol</a>
                </p>*@
            <p class="alt">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Email onayı gönder.</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordField = document.querySelector('input[type="password"]');
            const showPassword = document.querySelector('#showPassword');

            showPassword.addEventListener('click', function () {
                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    showPassword.textContent = "👀"
                } else {
                    passwordField.type = 'password';
                    showPassword.textContent = "👁️"
                }
            });
        });
    </script>
}
