@page
@using Web.Areas.Identity.Pages.Account.Manage;
@model PasswordChangeModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


<input type="checkbox" id="chk" aria-hidden="true" />

<div class="signup">
    <img src="~/img/logo.png" alt="PeopleLink" width="200" />
    <div class="mouse">
        <span></span>
    </div>
</div>

<div class="login">
    <div class="row">
        <div class="col-md-6">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <label class="baslik" for="chk" aria-hidden="true">Şifre Yenileme</label>
                <partial name="_StatusMessage" for="StatusMessage" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mevcut Şifre" />
                    <span style="position: absolute; top: 95px; transform: translate(-50%); right: 16%; font-size: larger; cursor: pointer;" id="showPassword">👁️</span>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">

                    <input asp-for="Input.NewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni Şifre" />
                    <span style="position: absolute; top: 178px; transform: translate(-50%); right: 16%; font-size: larger; cursor: pointer;" id="showPassword">👁️</span>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">

                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni Şifre Tekrar" />
                    <span style="position: absolute; top: 260px; transform: translate(-50%); right: 16%; font-size: larger; cursor: pointer;" id="showPassword">👁️</span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Input.UserId" />
                <button type="submit" class="w-100 btn btn-lg btn-primary">Şifreyi Güncelle</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        const passwordFields = document.querySelectorAll('input[type="password"]');
        const showPasswords = document.querySelectorAll('#showPassword');
        console.log(showPasswords)

        showPasswords.forEach((button, index) => {
            button.addEventListener('click', function () {
                if (passwordFields[index].type === 'password') {
                    passwordFields[index].type = 'text';
                    showPasswords[index].textContent = "👀";
                } else {
                    passwordFields[index].type = 'password';
                    showPasswords[index].textContent = "👁️";
                }
            });
        });

    </script>
}
