body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 1rem;
    transition: .8s ease-in-out;
}

.baslik {
    color: #fff;
    font-size: 2.5em;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-bottom: 30px;
    margin-top:70px;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 0;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #ff5722;
    font-size: 1em;
    font-weight: bold;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

    button:hover {
        background: #6d44b8;
    }

.login {
    height: 500px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

    .login label {
        color: #573b8a;
        transform: scale(.6);
    }


#chk:checked ~ .login {
    transform: translateY(-500px);
}

    #chk:checked ~ .login label {
        transform: scale(1);
    }

#chk:checked ~ .signup label {
    transform: scale(.6);
}

#chk:checked ~ .signup {
    margin-top: 0;
    transform: scale(.6);
}

.form-check-input {
    width: auto;
    margin: 0;
    margin-left: 3rem;
}

.login-label {
    font-size: 1rem;
    margin: 0;
}

.form-label {
    width: 60%;
    height: 10px;
    justify-content: center;
    display: flex;
    border: none;
}

.alt {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

span {
    margin-left: 4rem;
    color: darkred;
}

.alt-footer {
    display: flex;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 30px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    text-decoration: none;
    color:red;
}

.css-scroll-down {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    padding: 50px 30px;
}

.single-scroll-down-animation {
    margin-right: 20px;
    width: calc(25% - 20px);
    margin-bottom: 50px;
}

.scroll-down1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #00b4ff;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


i {
    color: #00b4ff;
    animation: scrollDown1 1.5s ease infinite;
}

@keyframes scrollDown1 {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }

    50% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}


/* Mouse Styling */
.mouse {
    display: block;
    width: 28px;
    height: 48px;
    border-radius: 15px 15px 11px 11px;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    z-index: 9999;
    margin-top: 160px;
}

    .mouse span {
        display: block;
        margin: 6px auto;
        width: 2px;
        height: 5px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid transparent;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
    }

@keyframes scroll {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

